.collapsible_button {
    background-color: #1897d1;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding: 5px 20px;
    margin: 0 0 15px 0;
    width: 100%;
    border: none;
    cursor: pointer
}

.active, .collapsible_button:hover {
    background-color: #0094d2;
}

.collapsible_button:visited {
    color: #565656;
}

.collapsible_button_content {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible_button:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2212'
}