.collapsible {
    background-color: #1897d1;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding: 5px 20px;
    margin: 0 0 15px 0;
    width: inherit;
    border: none;
    cursor: pointer
}

.active, .collapsible:hover {
    background-color: #0094d2;
}

.collapsible:visited {
    color: #565656;
}

.collapsible_content {
    display: none;
    overflow: hidden
}